    
    <div class="employee-class">
            <span class="create-account">{{setText}} EMPLOYEE</span>
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="row form-div">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                            <mat-form-field appearance="outline" class="signUpDetails">
                                <mat-label>Employee Id</mat-label>
                                <input matInput type="number" placeholder="1234" formControlName="empId">
                            </mat-form-field>
                        </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="signUpDetails">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="John" formControlName="firstName">
                        </mat-form-field>
                    
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="signUpDetails">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Doe" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                        <div class="col-md-2"></div>
                    <div class="col-md-8">
                                <mat-form-field appearance="outline" class="signUpDetails">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput type="text" placeholder="flatno, street name, city, state, country" formControlName="address"></textarea>
                                    </mat-form-field>
                                    </div>
                                    <div class="col-md-2"></div>
                        
                </div>
                <div class="row">
                        <div class="col-md-2"></div>
                    <div class="col-md-4">
                            <mat-form-field appearance="outline" class="signUpDetails">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                    </div>
                    <div class="col-md-4">
                            <mat-form-field appearance="outline" class="signUpDetails">
                                    <mat-label>Mobile</mat-label>
                                    <input matInput type="number" formControlName="mobile">
                            </mat-form-field>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" class="login-btn" type="submit">{{setText}}</button>
                </div>
            </form>
            <p class="account-exists"><a  routerLink="/home">Go to employee list</a></p>
         
    </div>
  