.home-class{
    height:65px;
    .create-btn{
      float: right;
    }
    .title-employee {
        font-size: 20px;
        font-weight: 500;
    }
    .title-border{
        height: 75px;
        padding: 20px;
        border-bottom: #673ab7 5px solid;
    }
    .signOut{
        float: right;
    }
}
